/*Використовую селектор тега для всіх hr: width - ширину лінії (30%); border - cкороченa властивість для ширини межі (5px) та 
стилю межі (в крапочку); border-style - стиль чотирьох меж (none - верхньої межі немає; none - права і ліва межі відсутні; 
dotted - нижня межа в крапочку); color - встановлює колір елемента*/
hr {
      width: 30%;
      border: 5px dotted;
      border-style: none none dotted;
      color: #BC8F8F
}
/*Використовую селектор тега для всіх h1: font-family - визначає шрифт для елементів; font-variant - Визначає, чи повинен текст 
відображатися маленьким шрифтом великими літерами (small-caps - всі малі літери перетворюються на великі)*/
h1 {
    font-family: Palatino Linotype;
    font-variant: small-caps;
}

/*Селектор класів вибирає елементи HTML із певним атрибутом класу. Щоб вибрати елементи з певним класом, пишу крапку (.), а потім 
назву класу.*/
/*background-color - Визначає колір фону елемента*/
.backCol {
    background-color: #F5DEB3;
}
/*font-weight - визначає, як мають відображатися символи в тексті (жирний); line-height - встановлює висоту рядка*/
.list {
    font-weight: bold;
    line-height: 1.6;
}

/*Селектор id використовує атрибут id елемента HTML, щоб вибрати певний елемент. Щоб вибрати елемент із певним 
ідентифікатором, пишу символ хеша (#), а потім ідентифікатор елемента*/
/*background-image - Встановлює фонове зображення для елемента body; url - URL-адреса зображення*/
#backImg {
    background-image: url("education.webp");
} 
/*text-decoration - Визначає декорацію, додану до тексту (underline overline - підкреслення зверху і знизу); font-style - Визначає 
стиль шрифту для тексту (italic - курсив)*/
#decor {
    text-decoration: underline overline; 
    font-style:italic;  
}

/*Псевдоклас використовується для визначення особливого стану елемента: cтиль елемента, коли користувач наводить курсор на нього, 
стиль відвідуваних і невідвідуваних посилань різний, стиль елемента, коли він отримує фокус*/
/*невідвідане посилання*/
a:link {
  color: red;
}
/*відвідане посилання*/
a:visited {
  color: green;
}
/*наведний курсор миші на посилання*/
a:hover {
  color: hotpink;
}
/*вибране посилання*/
a:active {
  color: blue;
}

